[OCI] Divergence after pushing records

**What's the problem?**

The OCI provider isn't quite ready for prime time.  For example, `assert_empty_diff` fails after pushing all types of a records to an OCI zone.

```
$ bin/record-store apply
pid: 66310
SPF record type is deprecated (See RFC 7208 Section 14.1)
SPF record type is deprecated (See RFC 7208 Section 14.1)
SPF record type is deprecated (See RFC 7208 Section 14.1)
SPF record type is deprecated (See RFC 7208 Section 14.1)
SPF record type is deprecated (See RFC 7208 Section 14.1)
SPF record type is deprecated (See RFC 7208 Section 14.1)
Applying 5 additions, 0 removals, and 0 updates...
Creating [AAAARecord] test_aaaa_type_record.test-oci.recordstore.com. 600 IN AAAA 2001:0db8:85a3:0000:0000:8a2e:0370:7334...
Creating [SPFRecord] test_spf_type_record.test-oci.recordstore.com. 600 IN SPF "thisistextforspfupdating"...
Creating [SRVRecord] test_srv_type_record.test-oci.recordstore.com. 3600 IN SRV 1 2 3 spf.test-oci.recordstore.com....
Creating [TXTRecord] test_txt_type_record.test-oci.recordstore.com. 1200 IN TXT "thisistextfortxt"...
Creating [TXTRecord] test_txt_type_record.test-oci.recordstore.com. 1200 IN TXT "thisistextfortxt2"...
Published test-oci.recordstore.com changes to OracleCloudDNS
$ bin/record-store assert_empty_diff
pid: 66338
SPF record type is deprecated (See RFC 7208 Section 14.1)
SPF record type is deprecated (See RFC 7208 Section 14.1)
SPF record type is deprecated (See RFC 7208 Section 14.1)
SPF record type is deprecated (See RFC 7208 Section 14.1)
SPF record type is deprecated (See RFC 7208 Section 14.1)
SPF record type is deprecated (See RFC 7208 Section 14.1)
SPF record type is deprecated (See RFC 7208 Section 14.1)
The following zones have diverged: test-oci.recordstore.com.
bin/record-store assert_empty_diff terminated with exit status 1
```

**Clues**

- This may be have something to do with NS records injected by Oracle Cloud DNS.
- Performing a diff could be handy after initially pushing records, in order to detect what the actual divergence is.